h1 {
  text-align: center;
}

.App section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 728px;
  margin: auto;
  min-height: 100vh;
  background-color: rgb(40, 37, 53);
}
